<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
 
     <title>Signin Template for Bootstrap </title>
 
     <!-- Bootstrap core CSS -->
     <link href="static/css/bootstrap.min.css" rel="stylesheet">
 
     <!-- Custom styles for this template -->
     <link href="static/css/signin.css" rel="stylesheet">
 
     <script src="static/js/jquery-3.2.1.min.js"> </script>
 
     <script> 
			$(function() {
				$('button').click(function() {
					var answer_in = $('.question1:checked').val();
					var text_in = $('#question1text').text();
					var question_in = $('#question1').attr('value');
					$.post('/postAnswer',{answer: answer_in, text : text_in, question: question_in })
						.done(function(response) {
							console.log(response);
						})
						.fail(function(error) {
							console.log(error);
						});
				});
			});
		</script>
 
 </head>
 
 <body>
 
     <div class="container">

		<h2>Sample Question</h2>
		
		<form action="/postAnswer" method="post" role="form">
			<label name="question1text" id="question1text">Can you answers this?</label>
			<input type="hidden" name="text" value="Can you answers this?">
			<input type="hidden" name="question" value="question1" id="question1"><br>
			<input type="radio" name="answer" value="yes" class="form-control question1" > Yes<br>
			<input type="radio" name="answer" value="no" class="form-control question1" > No<br>
			<button class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
		</form>
      
     </div>
   
 </body>
 
 </html>
